.dashboard {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  color: #fff;
}

.dashboard-sidenav {
  position: absolute;
  width: 23vw;
  height: 90vh;
  left: 0;
  bottom: 0;
  top: 10vh;
  border-right: 1px solid #222222;
  color: #fff;
}

.dashboard-options-container {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 100%;
}

.dashboard-option {
  align-self: stretch;
  display: grid;
  grid-template-columns: 100%;
  padding-left: 1.3rem;
  font-size: 2.2rem;
  font-weight: 100;
  text-decoration: none;
}

.dashboard-option-text {
  display: flex;
  align-self: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 4px;
  color: #F3F3F7;
  text-decoration: none;
}

.dashboard-subcontainer {
  position: absolute;
  width: 77vw;
  height: 90vh;
  bottom: 0;
  right: 0;
  padding: 4rem;
  color: #fff;
  overflow-x: hidden;
}

.dashboard-no-content {
  height: 50%;
  text-align: left;
  font-size: 1.7rem;
  color: #757575;
}

.orders-table {
  display: block;
  width: 100%;
  border: none;
}

.orders-table-header {
  display: grid;
  grid-template-columns: 20% 30% 25% 25%;
  grid-template-rows: 100%;
  margin-bottom: 1rem;
  font-family: 'Work Sans';
  font-size: 2.5rem;
  font-weight: 200;
}

.orders-table-header > div {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.orders-table-row {
  display: grid;
  grid-template-columns: 20% 30% 25% 25%;
  grid-template-rows: 100%;
  height: 5rem;
  margin: 2rem 0;
  background: rgba(77, 77, 77, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  border: none;
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  font-family: 'Work Sans';
  font-size: 1.3rem;
  font-weight: 300;
}

.orders-table-row > div {
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  margin-left: .5rem;
}

.orders-table-row > div:nth-child(1) {
  font-weight: 700;
  color: #E40032;
}

.address-container {
  height: 50%;
}

.address-title {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #686E78;
  font-size: 3rem;
  font-weight: 100;
}

.address-content {
  font-size: 1.8rem;
}

.wtpw-usr-accnt {
  width: 100%;
  height: 100%;
}