.mini-dashboard-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

.mini-dashboard-link {
  color: #F3F3F7;
  align-self: stretch;
  text-decoration: none;
  display: grid;
  grid-template-columns: 100%;
  transition: background .5s ease-in-out;
}

.mini-dashboard-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.mini-dashboard-div {
  padding: 0 1.5rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: 200;
  letter-spacing: 5px;
  transition: color .5s ease-in;
  cursor: pointer;
  justify-self: start;
  align-self: center;
  text-decoration: none;
}

/* .mini-dashboard-div:hover {
  color: #E40032;
  font-weight: 300;
} */

.mini-dashboard-div:active {
  color: #E40032;
}