.mini-dashboard-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

.mini-dashboard-link {
  text-decoration: none;
  align-self: stretch;
  display: grid;
  grid-template-columns: 100%;
  transition: background .5s ease-in-out;
}

.mini-dashboard-link:hover {
  background-color: #fff;
}

.mini-dashboard-div {
  padding: 0 1.5rem;
  font-size: 2rem;
  font-weight: 100;
  transition: color .5s ease-in;
  cursor: none;
  justify-self: start;
  align-self: center;
  text-decoration: none;
}

.mini-dashboard-div:hover {
  color: red;
}