.btt-btn-cntr {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 4rem 3rem;
  z-index: 1500;
  opacity: .2;
  transition: transform .3s ease-in-out;
  display: inline-flex;
}

.btt-btn {
  float: left;
  align-self: center;
  width: 3rem;
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

.btt-btn:hover {
  transform: scale(1.15);
}

.btt-btn-cntr > div {
  float: right;
  align-self: center;
  margin-left: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: .85rem;
  letter-spacing: 1.5px;
  color: #F3F3F7;
  cursor: none;
}

.parallax-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  z-index: 0;
}

.parallax-layer {
  z-index: 0;
}

.parallax-heading {
  display: block;
  text-align: center;
  font-weight: 100;
  color: #F3F3F7;
  font-size: 6rem;
}

.parallax-cab-style {
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(35deg, rgba(0,0,0,1) 0%, rgba(158,26,26,1) 100%);
}

.parallax-chard-style {
  /* top: 0;
  bottom: 0; */
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(35deg, rgba(0,0,0,1) 0%, rgba(203,168,27,1) 100%);
}

.parallax-brand-style {
  background: rgb(0,0,0);
  background: linear-gradient(207deg, rgba(0,0,0,1) 0%, rgb(49, 49, 49) 100%);
  width: 100%;
  height: 100%;
  bottom: 0;
}

.wine-bottle {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 82vh;
  margin-bottom: 14vh;
  margin-left: 25vw;
  z-index: 500;
}

.wtp-logo-svg {
  width: 80%;
  margin: 22% auto 3rem auto;
  display: block;
}

.wtp-logo-we-svg-mobile {
  height: 12rem;
  margin: 25vh 0 0 1.7rem;
}

.wtp-logo-the-people-svg-mobile {
  height: 3rem;
  margin: 0 4rem 0 0;
}

.welcome-button {
  display: block;
  margin: 2rem auto;
  padding: 1rem 3rem;
  border-style: solid;
  border-width: 1px;
  border-radius: .3rem;
  border-color: #D9DAE4;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  letter-spacing: 4px;
  color: #fff;
  background-color: transparent;
  opacity: 0.3;
  transition: opacity .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  transition: transform .5s ease-in-out;
}

.welcome-button:hover {
  font-weight: 400;
  color: #F3F3F7;
  opacity: 1;
  background-color: #29333D;
  border: none;
  transform: scale(1.05);
  cursor: pointer;
}

.wtp-brand-stamp {
  position: absolute;
  bottom: 0;
  opacity: 0.05;
  z-index: 400;
}

.wine-description {
  position: absolute;
  right: 10vw;
  width: 50%;
  z-index: 800;
}

@media only screen and (max-width: 768px) {
  .btt-btn-cntr {
    top: 0;
    bottom: auto;
    margin: 1rem;
  }

  .btt-btn {
    width: 2rem;
  }

  .welcome-button {
    margin: 4rem auto 7rem auto;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .wine-bottle {
    position: relative;
    display: block;
    height: 47vh;
    margin: 1rem auto;
  }

  .parallax-heading {
    font-size: 2.3rem;
  }

  .wtp-brand-stamp {
    left: -15%;
    width: 275%;
  }
}