.order-summary-container {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 50vh;
  background: #000;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 100%;
  overflow: hidden;
}

.order-summary-items {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 5rem;
  color: #fff;
  overflow-y: auto;
}

.order-summary-totals {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 5rem;
  color: #fff;
}

.order-summary-heading {
  margin: none;
  font-size: 3.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.order-item {
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 10% 50% 15% 15% 10%;
  grid-template-rows: 100%;
  border-bottom: 1px solid #fff;
}

.order-item-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  height: 75%;
}

.order-item-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.order-item-quantity {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.order-item-price {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.order-item-remove {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  cursor: none;
  transition: color .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.order-item-remove:hover {
  transform: scale(1.5);
  color: red;
}

.order-no-items {
  padding-top: 1rem;
  text-align: center;
  color: #757575;
  font-size: 1.6rem;
}

.order-summary-subtotal {
  font-size: 2rem;
}

.order-summary-checkout-btn {
  width: 60%;
  margin: 1rem 0;
  padding: 1rem;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 1000px;
  font-size: 2rem;
  font-weight: 100;
  transition: background .3s ease-in-out;
  transition: color .3s ease-in-out;
  transition: transform .3s ease-in-out;
  cursor: none;
}

.order-summary-checkout-btn:hover {
  background: #fff;
  color: red;
  transform: scale(1.07);
}