.auth-container {
  width: 100%;
  height: 100%;
}

.auth-form {
  width: 100%;
  height: 80%;
}

.auth-label {
  margin-bottom: 1.1rem;
  margin-left: 5%;
  color: #F3F3F7;
}

.auth-heading {
  margin-left: 5%;
  color: #F3F3F7;
}

.auth-group {
  width: 100%;
  margin: 1.7rem 0;
}

.auth-input {
  display: block;
  width: 90%;
  height: 2rem;
  margin: auto;
  border-radius: .5rem;
  color: #000;
}

/* .MuiOutlinedInput-input:active {
  color: #F3F3F7;
} */

.auth-error {
  margin-left: 5%;
  font-family: 'Roboto', sans-serif;
  color: #E40032;
}

.auth-button {
  display: block;
  background-color: #000;
  width: 90%;
  padding: 1rem 3rem;
  margin: auto;
  border: 1px solid #F3F3F7;
  border-radius: .5rem;
  font-size: 1.2rem;
  color: #F3F3F7;
}