.auth-account-container {
  position: fixed;
  right: 0;
  width: 22vw;
  height: 35vh;
  margin: 1rem;
  border: 1px solid #29333D;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  z-index: 800;
  display: block;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .auth-account-container {
    width: 100vw;
    height: 55vh;
    margin: 0;
  }
}