.auth-account-container {
  position: fixed;
  right: 0;
  width: 22vw;
  height: 42vh;
  margin: 1rem;
  border: 1px solid #29333D;
  background: rgba(77, 77, 77, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  z-index: 800;
  display: block;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .auth-account-container {
    width: 96vw;
    height: 55vh;
    margin: 1vh 2vw;
  }
}