.minicart-container {
  position: fixed;
  width: 40vw;
  height: 90vh;
  top: 10vh;
  right: 0;
  background-color: #000;
  border-style: solid;
  border-width: 0 0 0 3px;
  border-color: #D9DAE4;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.6);
  z-index: 900;
  cursor: default;
}

.minicart-title {
  width: 100%;
  padding: 1.5rem 0;
  background: #29333D;
  color: #E40032;
  font-family: 'Work-Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  border-bottom: 1px solid #D9DAE4;
}

.minicart-items {
  display: block;
  overflow-y: auto;
}

.minicart-item {
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 10% 50% 15% 15% 10%;
  grid-template-rows: 100%;
  border-bottom: 1px solid #F3F3F7;
}

.minicart-item-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  height: 75%;
}

.minicart-item-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.minicart-item-quantity {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.minicart-item-price {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.minicart-item-remove {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  cursor: none;
  transition: color .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.minicart-item-remove:hover {
  transform: scale(1.5);
  color: #E40032;
}

.minicart-no-items {
  padding-top: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #686E78;
  font-size: 1.6rem;
}

.minicart-options {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F3F3F7;
  color: #E40032;
  font-weight: 100;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.minicart-totals {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem 0;
  justify-self: center;
  align-self: center;
  text-align: left;
}

.minicart-totals > div {
  color: #F3F3F7;
}

.minicart-subtotal {
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
}

.minicart-total {
  font-size: 2rem;
}

.minicart-checkout {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: stretch;
  align-self: stretch;
  border-left: 1px solid #D9DAE4;
  display: flex;
  justify-content: center;
  transition: background .3s ease-in-out;
  cursor: pointer;
}

.minicart-checkout:hover {
  background: rgb(216, 216, 216);
}

.minicart-link {
  color: #E40032;
  font-size: 2.5rem;
  align-self: center;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .minicart-container {
    width: 100vw;
    border: none;
    box-shadow: none;
  }

  .minicart-subtotal {
  margin-right: 1rem;
  font-size: 1.7rem;
}

  .minicart-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.9rem;
  }
}