.minicart-container {
  position: fixed;
  width: 30vw;
  height: 80vh;
  top: 10vh;
  right: 0;
  margin: 1rem 1.5rem;
  background: rgba(77, 77, 77, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
  z-index: 900;
  cursor: default;
  overflow: hidden;
}

.minicart-title {
  width: auto;
  margin: 1rem;
  padding: 1.5rem 0;
  color: #F3F3F7;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 300;
  text-align: center;
  background: rgba(77, 77, 77, 0.3);
  border-radius: 10px;
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
}

.minicart-items {
  display: block;
  overflow-y: auto;
}

.minicart-item {
  width: auto;
  height: 6rem;
  margin: 0 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: 10% 50% 15% 15% 10%;
  grid-template-rows: 100%;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  color: #29333D;
}

.minicart-item-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  height: 75%;
}

.minicart-item-name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.minicart-item-quantity {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.minicart-item-price {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
}

.minicart-item-remove {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  transition: color .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.minicart-item-remove:hover {
  transform: scale(1.5);
  color: #E40032;
}

.minicart-no-items {
  padding-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  color: #F3F3F7;
  font-size: 1.4rem;
}

.minicart-options {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #E40032;
  font-weight: 200;
  display: block;
  text-align: center;
}

.minicart-totals {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  text-align: left;
}

.minicart-subtotal {
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  color: #D9DAE4;
}

.minicart-checkout {
  display: flex;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  background: rgba(77, 77, 77, 0.3);
  border-radius: 10px;
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  justify-content: center;
  transition: background .3s ease-in-out;
  cursor: pointer;
}

.minicart-checkout:hover {
  background: rgb(216, 216, 216);
}

.minicart-checkout:active {
  background: #E40032;
}

.minicart-link {
  color: #F3F3F7;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  align-self: center;
  text-decoration: none;
}

.minicart-link:hover {
  color: #000;
}

.minicart-link:active {
  color: #F3F3F7;
}

@media only screen and (max-width: 768px) {
  .minicart-container {
    width: 96vw;
    height: 88vh;
    margin: 1vh 2vw;
    border: none;
    box-shadow: none;
  }

  .minicart-title {
    padding: 1.2rem 0;
    font-size: 2.5rem;
  }

  .minicart-item {
    grid-template-columns: 20% 40% 15% 15% 10%;
    grid-template-rows: 100%;
  }

  .minicart-subtotal {
  margin-right: 1rem;
  font-size: 1.7rem;
}

  .minicart-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.9rem;
  }
}