.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: grid;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-color: #000;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #222222;
  z-index: 1500;
}

.nav-left {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: start;
  align-self: center;
}

.nav-right {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  align-self: center;
}

.nav-flex-right {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-wtp-logo {
  display: block;
  height: 3vh;
  margin-left: 2rem;
}

.hamburger-react {
  color: #fff;
}

.user-icon {
  height: 1.5rem;
  margin-right: 1.2rem;
  transition: transform .3s ease-in-out;
}

.user-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.cart-icon {
  height: 1.5rem;
  margin-right: 1.2rem;
  transition: transform .3s ease-in-out;
}

.cart-icon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.side-nav {
  position: fixed;
  width: 20vw;
  height: 90vh;
  top: 10vh;
  right: 0;
  background-color: #000;
  opacity: 0.95;
  backdrop-filter: blur(10rem);
  border-style: solid;
  border-width: 0 0 0 5px;
  border-color: #fff;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 900;
  cursor: default;
}

.side-nav-content {
  height: 100%;
  text-decoration: none;
}

.side-nav-item {
  font-size: 3rem;
  font-weight: 100;
  padding: 1rem 0 1rem 2rem;
  transition: background .5s ease-in-out;
  transition: color .5s ease-in;
  
}

.side-nav-item:hover {
  background-color: #fff;
  color: red;
}

.side-nav-link {
  text-decoration: none;
  color: #fff;
  cursor: none;
  transition: background .25s ease-in-out;
  transition: color .25s ease-in;
  cursor: none;
}

.side-nav-link:hover {
  background-color: #fff;
  color: red;
}

.contact-item {
  padding: 1rem;
  padding-left: 4rem;
  font-size: 3rem;
  font-weight: 100;
}

.contact-item:hover {
  background-color: #fff;
  color: red;
}

@media only screen and (max-width: 768px) {

  /* main navbar */
  .nav-flex-right {
    margin-right: .8rem;
  }

  .nav-wtp-logo {
    margin-left: .8rem;
  }

  .user-icon {
    height: 1.2rem;
  }

  .cart-icon {
    height: 1.2rem;
  }

  /* side nav */
  .side-nav {
    width: 100vw;
  }

  .side-nav-item {
    padding: .5rem 0 .5rem 2rem;
    font-size: 2.3rem;
  }

  .contact-item {
    font-size: 2.3rem;
    padding: .5rem 0 .5rem 4rem;
  }
}