.user-display {
  margin-right: 1.3rem;
  color: #F3F3F7;
  cursor: default;
}

@media only screen and (max-width: 768px) {
  .user-display {
    align-self: center;
    padding-left: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #BB0F33;
    text-decoration: underline;
  }
}