.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .75;
  z-index: 1800;
  display: grid;
}

.loading-msg {
  font-size: 1.2rem;
  justify-self: center;
  align-self: start;
}