.parallax-arrow-container {
  position: absolute;
  bottom: 10vh;
  width: 25vh;
  padding: 1rem 0;
  z-index: 900;
}

.parallax-arrow {
  width: 20%;
  margin: 1rem auto;
  opacity: 0.3;
  transition: transform .3s ease-in-out;
  cursor: pointer;
}

.parallax-arrow:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .parallax-arrow-container {
    position: absolute;
    bottom: 75vh;
    width: 15vh;
  }
}