.wine-desc {
  position: absolute;
  right: 10vw;
  width: 50%;
  color: #F3F3F7;
}

.wine-desc > h1 {
  margin: 1.3rem 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 5rem;
}

.wine-desc > div {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 3rem;
  border-style: solid;
  border-width: 1px 0 0 0;
  padding-top: 2rem;
}

.wine-desc > button {
  display: block;
  margin: 2rem 0;
  padding: 1rem 4rem;
  background-color: transparent;
  border: 1px solid #F3F3F7;
  border-radius: 1000px;
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: #F3F3F7;
  cursor: pointer;
}

.wine-desc > button:hover {
  background-color: #F3F3F7;
  color: #686E78;
}

.wine-desc > button:active {
  background-color: #29333D;
  color: #F3F3F7;
}

.wine-desc-span-cab {
  color: #E40032;
  font-weight: 400;
}

.wine-desc-span-chard {
  color: #ECBD14;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .wine-desc {
    right: 10vw;
    width: 80%;
  }

  .wine-desc > h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 200;
    line-height: 3rem;
  }

  .wine-desc > div {
    padding-top: .5rem;
    font-size: .8rem;
    line-height: 1.7rem;
  }
}