.wine-cntr {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 90vh;
  background: #000;
  z-index: 0;
  overflow: hidden;
}

.wine-options {
  display: grid;
  grid-template-columns: 33% 17% 17% 33%;
  grid-template-rows: 33.333% 33.333% 33.333%;
  width: 100%;
  height: 90vh;
}

.wtp-cab {
  height: 80%;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: end;
  margin: 0 2rem 0 0;
  z-index: 500;
  transition: transform .5s ease-in-out;
  cursor: pointer;
}

.wtp-cab:hover {
  transform: scale(1.15);
}

.cab-title-cntr {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: stretch;
  align-self: stretch;
  padding: 0 0 0 2.5rem;
  z-index: 500;
  display: flex;
  overflow: hidden;
}

.cab-title {
  align-items: center;
  margin: auto;
  font-size: 3rem;
  font-weight: 100;
  text-align: end;
}

.wine-subheading {
  padding: .8rem 0 0 0;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  z-index: 400;
}

.cab-desc-anchor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: stretch;
  align-self: stretch;
  z-index: 500;
  overflow: hidden;
}

.cab-desc-cntr {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
}

.cab-desc {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-right: 2rem;
  font-size: 2.5rem;
  font-weight: 100;
  text-align: end;
}

.addtocart-btn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
  align-self: start;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 1000px;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 100;
  transition: background .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.addtocart-btn:hover {
  background-color: #fff;
  color: red;
}

.cab-bg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(207deg, rgba(0,0,0,1) 0%, rgba(158,26,26,1) 100%);
  z-index: 100;
}





.wtp-chard {
  height: 80%;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: start;
  margin: 0 0 0 2rem;
  z-index: 500;
  transition: transform .5s ease-in-out;
  cursor: pointer;
}

.wtp-chard:hover {
  transform: scale(1.15);
}

.chard-title-cntr {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: stretch;
  align-self: stretch;
  z-index: 400;
  display: flex;
  overflow: hidden;
}

.chard-title {
  align-items: center;
  margin: auto;
  font-size: 3rem;
  font-weight: 100;
  text-align: start;
}

.chard-bg {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(207deg, rgba(0,0,0,1) 0%, rgba(203,168,27,1) 100%);
  z-index: 100;
}